@use "../../mixins" as *;
@use "../../presets" as *;

.about {
  position: relative;
  background-color: $color-gray-light;

  @include lg-min{
    padding-top: $gap-x5;
    padding-bottom: $gap-x5;
  }
  
  @include lg-md {
    padding-top: $gap-x4;
    padding-bottom: $gap-x4;
  }

  @include md {
    padding-top: $gap-x3;
    padding-bottom: $gap-x3;
  }
  
  &__container {
    @extend %container; 
    min-height: 501px;
    display: grid;
    
    @include lg-min {
      gap: $gap-x5;
      grid-template-columns: 1fr 271px; 
    }

    @include lg-md {
      gap: $gap-x2;
      grid-template-columns: 1fr 271px; 
    }

    @include md-sm {
      gap: $gap;
      grid-template-columns: 1fr 236px; 
    }

    @include sm {
      gap: $gap;
      grid-template-columns: 1fr;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image img {
    max-width: 100%;
    @include md-min {
      max-height: 480px;
    }

    @include md-sm {
      max-height: 425px;
    }

    @include sm {
      max-height: 480px;
    }
  }
}

.about-content {
  max-width: 936px;
  min-height: inherit;
 
  &__title {
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-family: $font-header;
    color: $color-primary;
    
    @include lg-min {
      font-size: 2.5rem; 
      margin: 0 0 43px 0;
    }

    @include lg-md {
      font-size: 2rem;
      margin: 0 0 43px 0;

    }

    @include md {
      font-size: 1.5rem; 
      margin: 0 0 31px 0;
    }

    @include sm {
      text-align: center;
    }
  }

  &__text {
    letter-spacing: 0.882px;
    line-height: 1.15em;
    white-space: unset;

    @include lg-min {
      font-size: 1.125rem;
    }
  }

  &__text p:nth-of-type(1) {
    position: relative;
    @include lg-md {
      margin-top: -6px;
    }
  }

  & p:nth-of-type(1)::after {
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      content: "";
      background-color: rgba(99, 117, 136, 0.1);
      
    @include lg-min {
      right: -50px; 
    }

    @include lg-md {
      right: -20px;
    }

    @include md-sm {
      right: -10px;
    }
    
    @include sm {
      display: none;
    }
  }

  & p:last-of-type {
    margin: 0;
  } 
}