@use "../../mixins/" as *;
@use "../../presets/" as *;

.posts {

  @include lg-min {
    padding: $gap-x5 0;
  }

  @include lg-md {
    padding: $gap-x4 0;
  }

  @include md {
    padding: $gap-x3 0;
  }

  &__container {
    @extend %container;
  }

  &__title {
    letter-spacing: 0.1em;
    line-height: 1.2em;
    color: $color-primary;
    font-family: "Roboto Slab";

    @include lg-min {
      font-size: 2.5rem;
      margin: 0 0 48px 0;
    }

    @include lg-md {
      font-size: 2rem;
      margin: 0 0 42px 0;
    }

    @include md {
      font-size: 1.5rem;
      margin: 0 0 36px 0;
    }

    @include sm {
      text-align: center;
    }

  }

  &__grid {
    display: grid;
    gap: $gap;

    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "b1 b1 b2 b3" "b4 b5 b6 b6";
    }

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "b1 b1 b2" "b3 b4 b4" "b5 b5 b6";
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "b1 b2" "b3 b4" "b5 b6";
    }

    @include sm {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "b1" "b2" "b3" "b4" "b5" "b6";
    }
  }

}

.post-item {

  &__link {
    overflow: hidden; 
    display: grid;
    height: 100%;
    grid-template-rows: 300px 1fr;
  }

  &__img {
    display: flex;
    overflow: hidden; 
    align-content: center;
    justify-content: center;
    transition: transform 0.5s;
    object-fit: cover;
    width: 100%;
  }

  &__img img {
    object-fit: cover;
    width: 100%;
  }
  
  &__caption {
    color: $color-gray;
    text-align: center;
    padding: $gap;
    display: grid;
    align-content: center;
    line-height: 1.15em;

    transition: background-color 0.5s;
  }

  &__caption h3 {
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  line-height: 1.15em;
  font-family: "Roboto Slab";  
  }

  &:hover {
    .post-item__caption {
      background-color: $color-gray-light;
      color: $color-primary;  
    }

    .post-item__img {
      transform: scale(1.1);
    }
  }
}

.posts-actions {
  margin-top: $gap;
  display: flex; 
  justify-content: center;
}

.post-item:nth-of-type(1) {
  grid-area: b1;
}

.post-item:nth-of-type(2) {
  grid-area: b2;
}

.post-item:nth-of-type(3) {
  grid-area: b3;
}

.post-item:nth-of-type(4) {
  grid-area: b4;
}

.post-item:nth-of-type(5) {
  grid-area: b5;
}

.post-item:nth-of-type(6) {
  grid-area: b6;
}