@use "../../mixins/" as *;
@use "../../presets/" as *;

.posts {
  padding: $gap-x5 0;
  &__container {
    @extend %container;
  }

  &__title {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    color: $color-primary;
    // font-weight: 700;
    font-family: "Roboto Slab";
    margin: 0 0 48px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "b1 b1 b2 b3" "b4 b5 b6 b6";
    gap: $gap;
  }

}



.post-item {
  // overflow: hidden;

  &__link {
    // display: flex;
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 300px 1fr;
  }

  &__img {
    transition: transform 0.5s;
  }

  &__caption {
    background-color: #eeeeee;
    color: $color-gray;
    text-align: center;
    padding: $gap;
    // min-height: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.5s;

  }

  &__caption h3 {
  font-size: 1.125rem;
  letter-spacing: 0.055em;
  line-height: 1.11em;
  font-family: "Roboto Slab";  
  }

  &:hover {
    .post-item__caption {
      background-color: rgba($color-primary, 0.2);
      color: $color-primary;  
    }

    .post-item__img {
      transform: scale(1.1);
    }
  }
}

.posts-actions {
  margin-top: $gap;
  display: flex; 
  justify-content: center;
}

.posts-actions a {
  max-width: 350px;
}

.post-item:nth-of-type(1) {
  grid-area: b1;
}

.post-item:nth-of-type(2) {
  grid-area: b2;
}

.post-item:nth-of-type(3) {
  grid-area: b3;
}

.post-item:nth-of-type(4) {
  grid-area: b4;
}

.post-item:nth-of-type(5) {
  grid-area: b5;
}

.post-item:nth-of-type(6) {
  grid-area: b6;
}