@use "../../mixins/" as *;
@use "../../presets/" as *;

.form {
  width: 100%;
  background-color: $color-primary;
  padding: 30px 0;

  &__container {
    @extend %container;
    display: grid;
    align-items:center;
    gap: $gap;
        
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-sm {
      grid-template-columns: repeat(1fr);
    }
  }
  
}

.form-item {
  display: block;
  background-color: $color-primary;

  @include md-min {
    max-width: 420px;
  }

  @include md-sm {
    max-width: 100%;
  }

  &__input {
    height: 60px;
    padding: 0 $gap-lg;
    width: 100%;
    border: 2px solid rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.05);
    transition: background-color 0.5s, border-bottom-color 0.5s;
  }

  &:nth-of-type(1) {
    @include md-sm {
      grid-column: 1/span 2;
    }
  }
  
  &__input:hover {
    background-color:rgba($color-light, 0.15);
    border-color: 2px solid rgba($color-light, 0.15);
    border-bottom-color: $color-light;

  }
 
}


