@use "../../mixins/" as *;
@use "../../presets/" as *;


.footer {
  background-color: $color-primary;
  width: 100%;
  padding: 50px 20px 70px 20px;
  text-align: center;
  &__container {
    @extend %container;
    min-height: 133px;
    
  }

  &__social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: $gap-x2;
    gap: $gap;
    min-height: 56px;
  }

  &__social::after {
    position: absolute;
    content: "";
    width: 75px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    left: calc(50% - 37.5px);
    bottom: -20px;
  }

  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 1.15em;
  }

  &__copy span:nth-of-type(1) {
    font-weight: 100;
    letter-spacing: 0.33em;
    margin-right: -0.5em;
  }
  
  &__copy span:nth-of-type(2) {
    letter-spacing: 0.05em;
    color: $color-gray-light;
    font-weight: 700;
  }
}

a .fab:hover, :focus {
  color: $color-accent;
}