
@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  letter-spacing: 0.1em;

  &__list {

    @include md-min {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      @include unlist(0 (-$gap) 0 0);
    }

    @include md {
      display: none;
      @include unlist;
      position: absolute;
      text-align: right;
      top: 100%;
      background-color: rgba($color-gray, 0.5);
      right: $gap;
    }

  }

  &__item {

    @include md-min {
      margin: $gap $gap-sm;
    }

    @include md {
      margin: $gap-sm $gap;
    }

  }

  &__link {
    display: block;
    padding: $gap $gap-sm;
    transition: color 0.5s;
    font-size: 1.125rem;
    line-height: 0.9em;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}


.header-navbar__hamburger {
  position: relative;
  width: 30px;
  height: 23px;
  margin: $gap 0 $gap auto;
  cursor: pointer;
 
  @include md-min {
    display: none;
  }

  span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.25s ease-in-out;
    transform: rotate(0deg);
    opacity: 1;
    border-radius: 3px;
    background-color: $color-light;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 9px;
    }

    &:nth-of-type(3) {
      top: 18px;
    }
  }

  &.active span {
    &:nth-of-type(1) {
      top: 12px;

      transform: rotate(135deg);
    }

    &:nth-of-type(2) {
      left: -40px;

      opacity: 0;
    }

    &:nth-of-type(3) {
      top: 12px;

      transform: rotate(-135deg);
    }
  }
}


